@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');

$primary-color: orange;
$secondary-color: #B66E00;
$tercer-color: #ff9900;
$white-color: #FFFFFF;
$black-color: #000000;
$font-family: 'Open Sans', sans-serif;
$cursive-font-family: 'Mr Dafoe', cursive;
$sans-serif-font-family: 'Lato', sans-serif;

@mixin center-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin transition($property, $duration, $timing){
    transition: $property $duration $timing;
}

@mixin animation($name, $duration, $timing, $iteration){
  animation-name: $name;
  animation-duration: $duration;
  animation-timing-function: $timing;
  animation-iteration-count: $iteration;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zoomIn {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

@keyframes customBounceIn{
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50%{
    opacity: 0.9;
    transform: scale(1.1);

  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
}

body {
  height: 100vh;
}

header {
  background-color: $primary-color;
  position: relative;
  padding: 0 2rem;
  z-index: 10;
}



//navbar
@import 'base/navbar';

//footer
@import 'base/footer';

//tarjetas
@import 'base/tarjetas';

//responsive
@import 'media';

//contacto.html
@import 'paginas/contacto';

//recetas.html
@import 'paginas/recetas';

//sobrenosotros.html
@import 'paginas/sobrenosotros';